.title{
    color:blue;
    width: 60%;
    margin-left: 200px;
    }

.titulos{
    color: blue;
    width: 50%;
    margin-left: 1px;
    border: 1px solid black;
    text-align: center;
}

.textos{  
    color: brown;
    width: 50%;
    margin-left: 1px;
    text-align: left;
}

.body{
padding: 5px;
width: 1500px;
height: 1500px;
text-align: left;
}
