.imagen{
    border= 5px solid black;
    height= 50px;
    width= 50px;
    margin-left: 150px;
    }

.title{
    color:blue;
    width: 1000px;
    height: 1500px;
    text-align: center;
    }

.titulos{
    color: blue;
    width: 1000px;
    height: 1500px;
    margin-left: 100px;
    border: 2px solid black;
    text-align: center;
}

.textos{  
    color: brown;
    width: 1000px;
    height: 1500px;
    margin-left: 100px;
    text-align: left;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body{
    padding: 1px;
    width: 1000px;
    height: 1500px;
    text-align: center;
    background-image: url("muro-hormigon-gris.jpg");
    background-repeat: repeat;
    background-size: 1000px;
    background-size: contain; 
}
