.imagen{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    }

.title{
    color: blue;
    width: 100%;
    border: 2px solid black;
    font-family: Arial Black;
    font-size: 10;
    display: flex;
    justify-content: center;
    }

.titulos{
    color: red;
    width: 100%;
    border: 2px solid black;
    font-family: Century;
    font-size: 9;
    display: flex;
    justify-content: center;
    }

.textos{  
    color: red;
    width: 100%;
    font-family: Calibri;
    font-size: 9;
    display: block;
    align-items: center;
    justify-content: center;
    }

.body{
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("fondo_r1_c1-300x192.jpg");
    background-repeat: repeat;
    background-size: contain; 
}
